body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    height: 550px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F5A623;
    border: solid 5px #3D2817;
    border-radius: 50px;  
    gap: 20px;
}
.topcontainer{
    display: flex;
    justify-content: flex-end;
}
.graycontainer{
    background-color: #4A4A4A;
    width: 150px;
    height: 50px;
    border: solid #3D2817;
}
.containerdisplay{
    display: flex;
    justify-content: center;
    border: solid #3D2817;
}
.display{
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #B8E8F5;
    border: solid #4A90D9;
    font-family: 'DSEG7 Classic', monospace;
    font-size: 40px;
    width: 400px;
    height: 50px;
    overflow: hidden;
}

.containerbuttons{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
    height: 300px;
}
.btn{
    background-color: #F0DFC0;
    border: solid #3D2817;
    border-radius: 5px;

    height: 50px;
    font-family: 'Fredoka', sans-serif;
    color: #3D2817;
    font-size: 30px;
}
.btn:hover{
    opacity: 0.5;
}
